@tailwind base;
@tailwind components;
@tailwind utilities;


/* 

*/

#form_content input{
    @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

#form_content .errorlist{
    @apply text-red-500 text-sm;
}