{% extends "base.html" %}

{% block content %}
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    <div class="py-12 max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-8">
    {% for obj in filter.qs %}
        <a class="h-120 w-72 rounded shadow-lg mx-auto border border-palette-lighter">
            <div class="h-72 border-b-2 border-palette-lighter relative">
            </div>
            <div class="h-48 relative">
                <div class="font-primary text-palette-primary text-2xl pt-4 px-4 font-semibold">
                    {{ obj.name }} 
                </div>
                <div class="text-lg text-gray-600 p-4 font-primary font-light">
                    {{ obj.name }} 
                </div>
                <div
                class="text-palette-dark font-primary font-medium text-base absolute bottom-0 right-0 mb-4 pl-8 pr-4 pb-1 pt-2 bg-palette-lighter 
                rounded-tl-sm triangle"
                >
                {{ obj.name }} 
                </div>
            </div>
        </a>
    {% endfor %}
    </div>
{% endblock %}