{% extends extends_base %}

{% block content %}

<!-- breeder-details-area -->
<section class="breeder-details-area" style="background-image: url(/static/img/bg/breeder_details_bg.webp);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="col-md-12">
                    <div class="pet-images-carousel owl-carousel owl-theme">
                        <div class="breeder-item">
                            <a href="breeder-details.html">
                                <img src="{{ pet.images.all.first.image.url|default:'https://adoptasalvaunavida.com/imas/animales/_2755/thumbnail_square.jpg'}}" alt="">
                            </a>
                        </div>
                        <div class="breeder-item">
                            <a href="breeder-details.html">
                                <img src="/static/img/images/breeder_img02.jpg" alt="">
                            </a>
                        </div>
                        <div class="breeder-item">
                            <a href="breeder-details.html">
                                <img src="{{ pet.images.all.first.image.url|default:'https://adoptasalvaunavida.com/imas/animales/_2755/thumbnail_square.jpg'}}" alt="">
                            </a>
                        </div>
                        <div class="breeder-item">
                            <a href="breeder-details.html">
                                <img src="/static/img/images/breeder_img04.jpg" alt="">
                            </a>
                        </div>
                        <div class="breeder-item">
                            <a href="breeder-details.html">
                                <img src="/static/img/images/breeder_img05.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <h1 class="title">{{ pet.name }}</h1>
                    <p>{{ pet.description }}</p>
                    <div class="breeder-dog-info">
                        <h5 class="title">{{ pet.specie.name }} Information</h5>
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="breeder-info-item">
                                    <h6>Weight:</h6>
                                    <span>{{ pet.weight }}</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="breeder-info-item">
                                    <h6>Size:</h6>
                                    <span>{{ pet.size.name }}</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="breeder-info-item">
                                    <h6>Gender:</h6>
                                    <span>{{ pet.gender.name }}</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="breeder-info-item">
                                    <h6>City:</h6>
                                    <span>{{ pet.shelter.city }}</span>
                                </div>
                            </div>
                            {% if pet.health %}
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="breeder-info-item">
                                    <h6>Health:</h6>
                                    <span>{{ pet.health }}</span>
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="breeder-info-item">
                                    <h6>Color:</h6>
                                    <span>White</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="breeder-info-item">
                                    <h6>Gender:</h6>
                                    <span>Male</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="breeder-info-item">
                                    <h6>Age:</h6>
                                    <span>1 year</span>
                                </div>
                            </div>
                        </div>
                        {% if pet.has_questionnaire %}
                        <a href="{% url 'apply_for_adoption' pet.id %}" class="btn">Apply Today <img src="img/icon/w_pawprint.png" alt=""></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <aside class="breeder-sidebar">
                    <div class="widget breeder-widget">
                        {% include "pet/partials/pet_filter.html" with internal=False %}
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- breeder-details-area-end -->
{% endblock %}