{% extends "base.html" %}

{% block content %}
<section class="adoption-shop-area">
    <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9">
            <div class="section-title text-center mb-65">
                <div class="section-icon"><img src="/static/img/icon/pawprint.png" alt=""></div>
                <h5 class="sub-title">Meet the animals</h5>
                <h2 class="title">
                    {% if specie_filtered %}
                        {{ specie_filtered.name }} en adopción
                    {% else %}
                        Encuentra tu mejor amigo
                    {% endif %}
                </h2>
                <p>The best overall dog DNA test is Embark Breed &amp; Health Kit (view at Chewy), which provides you with a
                    breed brwn and information Most dogs</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 breeder-sidebar widget breeder-widget">
                <aside>
                    {% include "pet/partials/pet_filter.html"%}
                </aside>
            </div>
            <div id="pagination-content" class="col-sm-9">
                {% include "pet/partials/list.html" with pet_list=pet_list %}
            </div>
        </div>
    </div>
</section>
{% if specie_filtered %}
<style>
    div:has(> #id_specie){
        display: none;
    }
</style>
{% endif %}
{% endblock %}