{% load pet_extras %}

<div class="container">
    <div class="row justify-content-center">
        {% for pet in pet_list %}
        <div class="col-lg-4 col-md-6">
            <div class="adoption-shop-item">
                <div class="adoption-shop-thumb">
                    <img src='{{ pet.images.all.first.image.url|default:"https://adoptasalvaunavida.com/imas/animales/_2755/thumbnail_square.jpg" }}' alt="">
                    <a href="{% url 'pet' pet.specie.name pet.shelter.city pet.id pet.name %}"  hx-boost="false" hx-target="#main_content" hx-swap="transition:true" class="btn">Adoption <img src="/static/img/icon/w_pawprint.png" alt=""></a>
                </div>
                <div class="adoption-shop-content">
                    <h4 class="title"><a href="{% url 'pet' pet.specie.name pet.shelter.city pet.id pet.name %}"  hx-boost="false" hx-target="#main_content" hx-swap="transition:true">{{ pet.name }}</a></h4>
                    <div class="adoption-meta">
                        <p>{{ pet.description|truncatechars:80 }}</p>
                        <ul>
                            <li><i class="fas fa-cog"></i><a href="{% url 'pet' pet.specie.name pet.shelter.city pet.id pet.name %}"  hx-boost="false" hx-target="#main_content" hx-swap="transition:true">Siberian Husky</a></li>
                            <li><i class="far fa-calendar-alt"></i> Birth : 2021</li>
                        </ul>
                    </div>
                    <div class="adoption-rating">
                        <ul>
                            <li class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="shelter">{{ pet.shelter.city }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% include "partials/pagination.html" with page_obj=pet_list %}
</div>