<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Petz - Open CMS Pet adoption project with Django and HTMX.</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico in the root directory -->
        <link rel=“preconnect” href=“https://fonts.googleapis.com”> 
        <link rel=“preconnect” href=“https://fonts.gstatic.com” crossorigin> 

        <link
            rel="preload" 
            href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;0,900;1,600;1,700&display=swap"
            as="style"
            />
        <link
            rel="preload" 
            href="/static/fonts/flaticon.ttf?bd3227b7135b7b35971cfd9419559b83"
            as="font"
            crossorigin
            />

        <style>
            @font-face {
                font-family: "flaticon";
                src: url("/static/fonts/flaticon.ttf?bd3227b7135b7b35971cfd9419559b83") format("truetype"),
            url("/static/fonts/flaticon.woff?bd3227b7135b7b35971cfd9419559b83") format("woff"),
            url("/static/fonts/flaticon.woff2?bd3227b7135b7b35971cfd9419559b83") format("woff2"),
            url("/static/fonts/flaticon.eot?bd3227b7135b7b35971cfd9419559b83#iefix") format("embedded-opentype"),
            url("/static/fonts/flaticon.svg?bd3227b7135b7b35971cfd9419559b83#flaticon") format("svg");
            }
        </style>
        
        <link rel="preload" href="/static/img/favicon.png" as="image">
        <link rel="preload" href="/static/img/slider/slider_shape01.png" as="image">
        <link rel="preload" href="/static/img/slider/slider_shape02.png" as="image">
        <link rel="preload" href="/static/img/slider/slider_bg02.jpg" as="image">
        <link rel="preload" href="/static/img/bg/header_shape.webp" as="image">
		<!-- CSS here -->
        {% load compress %}
        {% compress css preload %}
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/odometer.css">
        <link rel="stylesheet" href="/static/css/slick.css">
        <link rel="stylesheet" href="/static/css/default.css">
        <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/static/css/flaticon.css">
        {% endcompress %}
        {% compress css %}
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/odometer.css">
        <link rel="stylesheet" href="/static/css/slick.css">
        <link rel="stylesheet" href="/static/css/default.css">
        <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/static/css/flaticon.css">
        {% endcompress %}
        {% compress css preload %}
        <link rel="stylesheet" href="/static/css/style.css" async>
        <link rel="stylesheet" href="/static/css/responsive.css" async>
        {% endcompress %}
        {% compress css %}
        <link rel="stylesheet" href="/static/css/style.css" async>
        <link rel="stylesheet" href="/static/css/responsive.css" async>
        {% endcompress %}
        {% compress js preload %}
        <script src="/static/js/vendor/jquery-3.6.0.min.js" async></script>
        {% endcompress %}
        {% compress js %}
        <script src="/static/js/vendor/jquery-3.6.0.min.js" async></script>
        {% endcompress %}
		<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.png">
    </head>
    <body>

		<!-- Scroll-top -->
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-angle-up"></i>
        </button>
        <!-- Scroll-top-end-->

        <!-- header-area -->
        {% include "partials/header.html"%}
        <!-- header-area-end -->


        <!-- main-area -->
        <main id="main_content">
		{% block content %}
		{% endblock %}
		</main>
        <!-- main-area-end -->


        <!-- footer-start -->
        {% include "partials/footer.html"%}
        <!-- footer-end -->

		<!-- JS here -->
        {% compress js preload %}
        <script src="/static/js/owl.carousel.min.js" async></script>
        <script src="/static/js/jquery.odometer.min.js" async></script>
        <script src="/static/js/jquery.appear.js" async></script>
        <script src="/static/js/slick.min.js" async></script>
        <script src="/static/js/main.js" async></script>
        {% endcompress %}
        {% compress js %}
        <script src="/static/js/owl.carousel.min.js" async></script>
        <script src="/static/js/jquery.odometer.min.js" async></script>
        <script src="/static/js/jquery.appear.js" async></script>
        <script src="/static/js/slick.min.js" async></script>
        <script src="/static/js/main.js" async></script>
        {% endcompress %}
		<script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.min.js" async></script>
        <script>
            window.onload = function() {
                var lazyBackgrounds = [].slice.call(document.querySelectorAll(".lazy-background"));

                if ("IntersectionObserver" in window) {
                    let lazyBackgroundObserver = new IntersectionObserver(function(entries, observer) {
                        entries.forEach(function(entry) {
                            if (entry.isIntersecting) {
                                entry.target.style.backgroundImage = 'url(' + entry.target.dataset.bg + ')';
                                lazyBackgroundObserver.unobserve(entry.target);
                            }
                        });
                    });

                    lazyBackgrounds.forEach(function(lazyBackground) {
                        lazyBackgroundObserver.observe(lazyBackground);
                    });
                } else {
                    // Fallback for browsers that don't support IntersectionObserver
                    lazyBackgrounds.forEach(function(lazyBackground) {
                        lazyBackground.style.backgroundImage = 'url(' + lazyBackground.dataset.bg + ')';
                    });
                }
            };

        </script>
    </body>
</html>