{% extends extends_base %}

{% block content %}
<!-- slider-area -->
<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image: url('/static/img/slider/slider_bg02.jpg');">
            <div class="container custom-container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-10">
                        <div class="slider-content">
                            <div class="slider-title">
                                <h2 class="title" data-animation="fadeInUpBig" data-delay=".2s" data-duration="1.2s">Best Friend <span>with</span> Happy Time</h2>
                            </div>
                            <div class="slider-desc">
                                <p class="desc" data-animation="fadeInUpBig" data-delay=".4s" data-duration="1.2s">Human Shampoo on Dogs After six days of delirat, the jury found Hernandez guilty of first-degree murder</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-shape"><img src="/static/img/slider/slider_shape01.png" alt=""></div>
    <div class="slider-shape shape-two"><img src="/static/img/slider/slider_shape02.png" alt=""></div>
</section>
<!-- slider-area-end -->

<!-- find-area -->
<div class="find-area">
    <div class="container custom-container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <div class="find-wrap">
                        <div class="other-find">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="flaticon-location"></i> Select state
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for state in states_list %}
                                        <a class="dropdown-item" href="{% url 'pets' %}?shelter__state={{ state.id }}">
                                            {{ state.name }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="find-category">
                            <ul>
                                {% for specie in species_list|slice:":3" %}
                                    <li><a href="{% url 'pets' %}?specie={{ specie.id }}"><i class="flaticon-{{ specie.icon|default:'happy' }}"></i> Find Your {{ specie.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="other-find">
                            
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Find Other Pets
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for specie in species_list %}
                                        <a class="dropdown-item" href="{% url 'pets' %}?specie={{ specie.id }}">
                                            Find Your {{ specie.name }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- find-area-end -->

<!-- counter-area -->
<section class="counter-area counter-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="counter-item">
                    <h2 class="count"><span class="odometer" data-count="{{ pet_count }}"></span>+</h2>
                    <p>Pets on adoption</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="counter-item">
                    <h2 class="count"><span class="odometer" data-count="{{ shelter_count }}"></span>+</h2>
                    <p>Shelters</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="counter-item">
                    <h2 class="count"><span class="odometer" data-count="{{ adoption_count }}"></span>+</h2>
                    <p>Adoptions</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="counter-item">
                    <h2 class="count"><span class="odometer" data-count="{{ history_count }}"></span>+</h2>
                    <p>Histories</p>
                </div>
            </div>
        </div>        
    </div>
</section>
<!-- counter-area-end -->

<!-- adoption-shop-area -->
<section class="adoption-shop-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9">
                <div class="section-title text-center mb-65">
                    <div class="section-icon"><img src="/static/img/icon/pawprint.png" alt=""></div>
                    <h5 class="sub-title">Our last petz</h5>
                    <h2 class="title">Waiting for Adoption</h2>
                    <p>You're one step closer to finding your best friend. Remember, when you adopt, you save two lives: the one you bring home and the one that takes their place.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for pet in latest_pets %}
                {% include 'pet/partials/list_pet_item.html' with pet=pet %}
            {% endfor %}
        </div>
        
    </div>
</section>
<!-- adoption-shop-area-end -->

<!-- shelter-area -->
<section class="testimonial-area testimonial-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9">
                <div class="section-title text-center mb-65">
                    <div class="section-icon"><img src="/static/img/icon/pawprint.png" alt=""></div>
                    <h5 class="sub-title">Meet The Shelters</h5>
                    <h2 class="title">Our Real Heroes</h2>
                    <p>You're one step closer to finding your best friend. Remember, when you adopt, you save two lives: the one you bring home and the one that takes their place.</p>
                </div>
            </div>
        </div>
        <div class="row testimonial-active">
            {% for shelter in shelters %}
                <div class="col-lg-6">
                    <div class="testimonial-item">
                        <div class="testi-avatar-thumb">
                            {% if shelter.image %}
                                <img src="{{ shelter.image.url }}" alt="{{ shelter.name }}">
                            {% else %}
                                <img src="/static/img/images/default_avatar.png" alt="Default Avatar">
                            {% endif %}
                        </div>
                        <div class="testi-content">
                            <p>“ {{ shelter.description|default:"No description available" }} ”</p>
                            <div class="testi-avatar-info">
                                <h5 class="title">{{ shelter.name }}</h5>
                                <span>{{ shelter.city }}, {{ shelter.state.name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </div>
</section>
<!-- shelter-area-end -->

<!-- blog-area -->
<section class="blog-area pt-110 pb-60">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9">
                <div class="section-title text-center mb-65">
                    <div class="section-icon"><img src="/static/img/icon/pawprint.png" alt=""></div>
                    <h5 class="sub-title">Our News</h5>
                    <h2 class="title">Latest News Update</h2>
                    <p>You're one step closer to finding your best friend. Remember, when you adopt, you save two lives: the one you bring home and the one that takes their place.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for blog in latest_blog_posts %}
                <div class="col-lg-4 col-md-6">
                    <div class="blog-post-item mb-50">
                        <div class="blog-post-thumb">
                            <a href="{% url 'blog_detail' blog.slug %}"><img src="{{ blog.image.url|default:'/static/img/blog/blog_thumb01.jpg' }}" alt="{{ blog.title }}"></a>
                            <div class="blog-post-tag">
                                <a href="#"><i class="flaticon-bookmark-1"></i>{{ blog.category.name }}</a>
                            </div>
                        </div>
                        <div class="blog-post-content">
                            <div class="blog-post-meta">
                                <ul>
                                    <li><i class="far fa-user"></i><a href="#">{{ blog.author.username }}</a></li>
                                    <li><i class="far fa-bell"></i> {{ blog.created_at|date:"M d, Y" }}</li>
                                </ul>
                            </div>
                            <h3 class="title"><a href="{% url 'blog_detail' blog.slug %}">{{ blog.title }}</a></h3>
                            <p>{{ blog.excerpt|truncatechars:100 }}</p>
                            <a href="{% url 'blog_detail' blog.slug %}" class="read-more">Read More <img src="/static/img/icon/pawprint.png" alt=""></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- blog-area-end -->
{% endblock %}
