
<div class="standard-blog-item mb-50">
    {% if not blog.is_page %}
    <div class="standard-blog-thumb">
        <img src="/static/img/blog/blog_thumb01.jpg" alt="">
    </div>
    {% endif %}
    <div class="standard-blog-content blog-details-content">
        {% if not blog.is_page %}
        <div class="blog-post-meta">
            <ul>
                <li class="tags"><i class="flaticon-bookmark-1"></i>
                    <a href="#">Siberian Husky , </a>
                    <a href="#">Breed</a>
                </li>
                <li><i class="far fa-user"></i><a href="#">Admin</a></li>
                <li><i class="far fa-bell"></i> Mar 10, 2021</li>
            </ul>
        </div>
        {% endif %}
        <h1 class="title">{{ blog.title }}</h1>
        {{ blog.content|safe }}
        {% if not blog.is_page %}
        <div class="blog-line" style="background-image: url(&quot;/static/img/blog/blog_item_line.png&quot;);"></div>
        <div class="blog-details-bottom">
            <div class="blog-details-tags">
                <ul>
                    <li class="title"><i class="fas fa-tags"></i> Tags :</li>
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Work</a></li>
                    <li><a href="#">Knowledge</a></li>
                    <li><a href="#">Online</a></li>
                </ul>
            </div>
            <div class="blog-details-social">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</div>