<div class="col-lg-4 col-md-8">
    <aside class="blog-sidebar">
        <div class="widget">
            
            <h4 class="sidebar-title">Search</h4>
            <div class="sidebar-search">
                <form action="{% url 'blog' %}"
                    hx-boost="true" hx-target="#pagination-content" hx-swap="transition:true"
                    >
                    {{ filter.form.search }}
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="widget">
            <h4 class="sidebar-title">Categories</h4>
            <div class="sidebar-cat-list">
                <ul>
                    {% for category in blog_categories %}
                        <li>
                            <a href="{% url 'blog' %}?category={{ category.id }}">
                                {{ category.title }}
                                <i class="fas fa-angle-double-right"></i>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="widget">
            <h4 class="sidebar-title">Recent Post</h4>
            <div class="rc-post-list">
                <ul>
                    <li>
                        <div class="rc-post-thumb">
                            <a href="blog-details.html"><img src="img/blog/rc_post_thumb01.jpg" alt=""></a>
                        </div>
                        <div class="rc-post-content">
                            <h5 class="title"><a href="blog-details.html">Best Online Pet Everything Your Pet Needs</a></h5>
                            <div class="rc-post-meta">
                                <ul>
                                    <li><i class="far fa-calendar-alt"></i> April 15, 2021</li>
                                    <li>By <a href="#">Admin</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="rc-post-thumb">
                            <a href="blog-details.html"><img src="img/blog/rc_post_thumb02.jpg" alt=""></a>
                        </div>
                        <div class="rc-post-content">
                            <h5 class="title"><a href="blog-details.html">Pet Needs Special Food like Human Foods</a></h5>
                            <div class="rc-post-meta">
                                <ul>
                                    <li><i class="far fa-calendar-alt"></i> October 15, 2021</li>
                                    <li>By <a href="#">Admin</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="widget sidebar-newsletter">
            <div class="sn-icon">
                <img src="img/icon/sn_icon.png" alt="">
            </div>
            <div class="sn-title">
                <h4 class="title">Subscribe Newsletter</h4>
                <p>Sign-up For Latest News</p>
            </div>
            <form action="#" class="sn-form">
                <input type="text" placeholder="Enter Your Email">
                <button class="btn">subscribe</button>
            </form>
        </div>
    </aside>
</div>