{% extends extends_base %}

{% block content %}
<!-- blog-area -->
<section class="adoption-shop-area" style="background-image: url(/static/img/bg/adoption_shop_bg.webp);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9">
                <div class="section-title text-center mb-65">
                    <div class="section-icon"><img src="/static/img/icon/pawprint.png" alt=""></div>
                    <h5 class="sub-title">Before meet</h5>
                    <h2 class="title">One more step</h2>
                    <p>
                        Please complete the next questionnnaire and the shelter will contact you
                        to provide more information and next steps on the adoption, good luck!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div id="pagination-content" class="col-lg-8 breeder-widget">
                <h2>Apply for Adoption - {{ pet_name }}</h2>
                <form method="post">
                    {% csrf_token %}
                    <div id="form_content" class="filter_form">

                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            
            {% include "blog/partials/sidebar.html"%}
        </div>
    </div>
</section>
<!-- blog-area-end -->
{% endblock %}