<footer>
  <div class="footer-top-area lazy-background footer-bg" data-bg="/static/img/bg/footer_bg.webp">
      <div class="container">
          <div class="row justify-content-between">
              <div class="col-3">
                  <div class="footer-widget">
                      <div class="f-logo">
                          <a href="/" hx-boost="false"><img src="/static/img/logo/petz_logo.webp" alt="" loading="lazy" loading="lazy"></a>
                      </div>
                      <div class="footer-text">
                          <p>Welcome to the CMS Pet Adoption Project! This project uses Django and htmx to create a content management system (CMS) focused on pet adoption. </p>
                      </div>
                  </div>
              </div>
              <div class="col-2">
                  <div class="footer-widget">
                      <h4 class="fw-title">Interesting pages</h4>
                      <div class="fw-link">
                          <ul>
                              <li><a href="/">Acoge</a></li>
                              <li><a href="/">Dona</a></li>
                              <li><a href="/">Voluntariado</a></li>
                              <li><a href="/">Historias</a></li>
                              <li><a href="/">Protectoras</a></li>
                              <li><a href="/">Recursos</a></li>
                              <li><a href="/">Blog</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-2">
                  <div class="footer-widget">
                      <h4 class="fw-title">Pets on adoption</h4>
                      <div class="fw-link">
                          <ul>
                            {% for specie in species_list %}
                                <li><a href="{% url 'pets' %}?specie={{ specie.id }}" hx-boost="false">{{ specie.name }}</a></li>
                            {% endfor %}
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-3">
                  <div class="footer-widget">
                      <h4 class="fw-title">Instagram</h4>
                      <div class="fw-insta">
                          <ul>
                              <li><a href="#"><img src="/static/img/images/insta_img01.png" alt="" loading="lazy"></a></li>
                              <li><a href="#"><img src="/static/img/images/insta_img02.png" alt="" loading="lazy"></a></li>
                              <li><a href="#"><img src="/static/img/images/insta_img03.png" alt="" loading="lazy"></a></li>
                              <li><a href="#"><img src="/static/img/images/insta_img04.png" alt="" loading="lazy"></a></li>
                              <li><a href="#"><img src="/static/img/images/insta_img05.png" alt="" loading="lazy"></a></li>
                              <li><a href="#"><img src="/static/img/images/insta_img06.png" alt="" loading="lazy"></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-shape"><img src="/static/img/images/footer_shape01.png" alt="" loading="lazy"></div>
      <div class="footer-shape shape-two"><img src="/static/img/images/footer_shape02.png" alt="" loading="lazy"></div>
  </div>
  <div class="copyright-area">
      <div class="container">
          <div class="row">
              <div class="col-md-8">
                  <div class="copyright-text">
                      <p>Copyright &copy; 2021 Petz. All Rights Reserved.</p>
                  </div>
              </div>
              <div class="col-md-4 d-none d-md-block">
                  <div class="footer-lang">
                      <!--div class="dropdown">
                          <button class="dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              <img src="/static/img/icon/united-states.png" alt="" loading="lazy"> English
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                              <a class="dropdown-item" href="index.html"><img src="/static/img/icon/russia.png" alt="" loading="lazy">Russia</a>
                              <a class="dropdown-item" href="index.html"><img src="/static/img/icon//thailand.png" alt="" loading="lazy">Thailand</a>
                              <a class="dropdown-item" href="index.html"><img src="/static/img/icon/india.png" alt="" loading="lazy">India</a>
                          </div>
                      </div-->
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>