<header>
  <div id="sticky-header" class="menu-area">
      <div class="container custom-container">
          <div class="row">
              <div class="col-12">
                  <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                  <div class="menu-wrap">
                      <nav class="menu-nav show" hx-boost="true" hx-target="#main_content" hx-swap="transition:true">
                          <div class="logo"><a href="/" hx-boost="false"><img src="/static/img/logo/petz_logo.png" alt="" style="max-width: 150px;"></a></div>
                          <div class="navbar-wrap main-menu d-none d-lg-flex">
                              <ul class="navigation">
                                  <li><a href="/" hx-boost="false">Inicio</a></li>
                                  <li class="menu-item-has-children">
                                      <a href="{% url 'pets' %}">Adopta</a>
                                      <ul class="submenu">
                                        {% for specie in species_list %}
                                            <li><a href="{% url 'pets' %}?specie={{ specie.id }}" hx-boost="false">{{ specie.name }}</a></li>
                                        {% endfor %}
                                      </ul>
                                  </li>
                                  <li class="menu-item-has-children"><a href="{% url 'blog' %}">Colabora</a>
                                      <ul class="submenu">
                                          <li><a href="{% url 'blog' %}">Acoge</a></li>
                                          <li><a href="{% url 'blog' %}">Dona</a></li>
                                          <li><a href="{% url 'blog' %}">Voluntariado</a></li>
                                      </ul>
                                  </li>
                                  <li><a href="{% url 'blog' %}">Historias</a></li>
                                  <li><a href="{% url 'shelters' %}">Protectoras</a></li>
                                  <li class="menu-item-has-children"><a href="{% url 'blog' %}">Recursos</a>
                                      <ul class="submenu">
                                          <li><a href="{% url 'blog' %}">Primeros pasos</a></li>
                                          <li><a href="{% url 'blog' %}">Alimentación</a></li>
                                          <li><a href="{% url 'blog' %}">Entrenamiento</a></li>
                                          <li><a href="{% url 'blog' %}">Ejercicio</a></li>
                                          <li><a href="{% url 'blog' %}">Cuidados</a></li>
                                      </ul>
                                  </li>
                                  <li class="menu-item-has-children"><a href="{% url 'blog' %}">Blog</a>
                                      <ul class="submenu">
                                          <li><a href="{% url 'blog' %}">Últimas noticias</a></li>
                                          <li><a href="{% url 'blog' %}">Eventos</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </div>
                          <div class="header-action d-none d-md-block">
                            <ul>
                                {% if request.user.is_authenticated %}
                                <li class="header-btn"><a href="{% url 'logout' %}" class="btn">Log out <img src="/static/img/icon/w_pawprint.png" alt=""></a></li>
                                {% else %}
                                <li class="header-btn"><a href="{% url 'login' %}" class="btn">Log in <img src="/static/img/icon/w_pawprint.png" alt=""></a></li>
                                {% endif %}
                                
                            </ul>
                        </div>
                      </nav>
                  </div>
                  <!-- Mobile Menu  -->
                  <div class="mobile-menu">
                      <nav class="menu-box">
                          <div class="close-btn"><i class="fas fa-times"></i></div>
                          <div class="nav-logo"><a href="{% url 'pets' %}"><img src="/static/img/logo/logo.png" alt="" title=""></a>
                          </div>
                          <div class="menu-outer">
                              <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                          </div>
                          <div class="social-links">
                              <ul class="clearfix">
                                  <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                  <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                                  <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                  <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                  <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                              </ul>
                          </div>
                      </nav>
                  </div>
                  <div class="menu-backdrop"></div>
                  <!-- End Mobile Menu -->
              </div>
          </div>
      </div>
      <div class="header-shape" data-background="/static/img/bg/header_shape.png"></div>
  </div>
</header>