{% extends override_base_template|default:"registration/partials/base.html" %}

{% block page_content %}
<div id="form_content">
  <h1 class="text-xl mb-4 font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-gray-100">
    Create an account
  </h1>
  <form method="post" class="space-y-2 md:space-y-2 dark:text-gray-300" hx-post="{% url 'register' %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-target="#form_content" hx-swap="outerHTML">
    {{ form.as_p }}
    <div class="flex items-start">
      <div class="flex items-center h-5">
        <input id="terms" aria-describedby="terms" type="checkbox" class="text-cyan-600 w-4 h-4 border border-gray-300 rounded bg-cyan-400-50 focus:ring-3 focus:ring-cyan-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-cyan-600 dark:ring-offset-gray-800 " required="">
      </div>
      <div class="ml-3 text-sm">
        <label for="terms" class="font-light text-gray-500 dark:text-gray-300">I accept the <a class="font-medium text-cyan-600 hover:underline dark:text-cyan-500" href="#">Terms and Conditions</a></label>
      </div>
    </div>
    <button type="submit" class="w-full text-gray-100 bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:outline-none focus:ring-cyan-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-cyan-600 dark:hover:bg-cyan-700 dark:focus:ring-cyan-800">Register</button>
  </form>
  <p class="text-sm my-4 font-light text-gray-500 dark:text-gray-400">
    Already have an account? <a href="{% url 'login' %}" class="font-medium text-cyan-600 hover:underline dark:text-cyan-500">Login here</a>
  </p>
</div>
{% endblock %}